/*PREREQUISITES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*BODY*/
body{
    background-color: #000;
    overflow-x: hidden;
}


/*NAVBAR*/
.nav {
    background-color: #b00000;
    padding: 7px 0px;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 1;
    -webkit-animation: fadeInDown;
    -webkit-animation-fill-mode: both;
    -webkit-transition: 2s;
    -webkit-animation-duration: 2s;
}

.nav .bar a {
    float: right;
    display: block;
    color: #fff;
    border: 3px solid transparent;
    font-size: 1.4vw;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5;
    padding: 10px 15px;
    text-decoration: none;
    margin-right: 0.5vw;;
    position: relative;
    opacity: 0.7;
    transition: 0.5s;
}

.nav h1{
    background: -webkit-linear-gradient(#ffe980 , #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.7vw; 
    float: left;
    margin-left: 1.5vw;
    border: 3px solid transparent;
    transition: 0.5s;
}

.nav a:hover {
    color: black;
    border-bottom-color: #000;
    font-size: 1.5vw;
    opacity: 1;
}

.nav h1:hover{
    border-bottom-color: #000;
}

/* HOME */
#home {
    margin: 0;
    height: 100%;
}

.home{
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.home::before{
    position: absolute;
    background-attachment: fixed;
    background-image: url("images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
}

.heading {
    float: right;
}

.heading h1 {
    color: #ffd700;
    font-family: 'Bebas Neue', cursive;
    font-size: 7.5vw;
    margin-right: 25vw;
    padding-top: 35%;
    -webkit-animation: fadeInDown;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 2s;
    -webkit-transition: 2s;
}


/* ABOUT */
.abt{
    background-color: #ffe98a;
    width: 100%;
}

.abt .info {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 6vw;
}

.abt .info p{
    color: #111;
    font-size: 2.3vw;
    font-family: 'Lobster Two', cursive;
    word-spacing: 0.3vw;
    text-align: center;
}

.abt .icon-2x{
    font-size: 12em;
    color: #b00000;
    padding-left: 43vw;
    padding-top: 4vw;
}

/*TEAM*/
.team {
    background-color: #16263b;
    width: 100%;
}

.team h1{
    color: #f2f2f2;
    font-size: 6vw;
    font-family: 'Abril Fatface', cursive;
    padding-left: 33vw;
    padding-top: 5vw;
    letter-spacing: 0.5vw;
}

.team .border{
    border: solid 3px transparent;
    margin-left: 5vw;
    margin-top: 2vw;
    padding: 1.5vw;
    transition: 0.4s;
}

.team .border h2{
    color: #16263b;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5;
    font-size: 1.2vw;
    text-align: center;
}

.team .border img{
    border-radius: 50%;
    border: 3px black solid;
    height: 12vw;
    width: 10vw;
}

.team .border:hover{
    background-color: #fff;
}

/*TRAILER*/
.trailer{
    background-color: #ffe98a;
    width: 100%;
}

.trailer iframe{
    height: 40vw;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

/*POSTERS*/
.poster{
    background-color: #16263b;
    width: 100%;
}

.poster .border1{
    border: 3px solid transparent;
    padding: 2vw;
    margin-top: 2.5vw;
    margin-left: 4.3vw;
    transition: 0.4s;
}

.poster .one img{
    border: 3px solid #000;
    height: 25vw;
    width: 23vw;
    
}

.poster .border2{
    border: 3px solid transparent;
    padding: 2vw;
    margin-top: 2vw;
    margin-left: 14.5vw;
    margin-bottom: 3vw;
    transition: 0.4s;
}

.poster .two img{
    border: 3px solid #000;
    height: 25vw;
    width: 23vw;
    
}

.poster h2{
    color: #16263b;
    font-size: 2.5vw;
    padding-left: 7vw;
    padding-top: 1vw;
}

.poster .border1:hover{
    background-color: #fff;
}

.poster .border2:hover{
    background-color: #fff;
}

/*MERCHANDISE*/
.merch{
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    height: 110vw;
}

.merch::before {
    position: absolute;
    background-attachment: fixed;
    background-image: url("images/merchbg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: "";
    height: 110vw;
    width: 100%;
    z-index: -1;
}

.merch .border {
    border: 3px solid transparent;
    padding: 1vw;
    margin-top: 2vw;
    margin-left: 7.5vw;
}

.merch .border h2{
    opacity: 0;
    font-size: 1.5vw;
    padding: 1vw;
    text-align: center;
}

.merch .border .img1{
    border: 2px solid #000;
}

.merch .border .img1 img{
    height: 23vw;
    width: 21vw;
}

.merch .border .img2{
    border: 2px solid #000;
}

.merch .border .img2 img{
    height: 15vw;
    width: 13vw;
}

.merch .border:hover{
    background-color: #ffe98a;
}

.merch .border:hover> h2{
    opacity: 1;
    color: #000;
}

/*FOOTER*/
.footer{
    background-color: #111;
    width: 100%;
}

.footer h1{
    color: #ffd700;
    font-family: 'Bebas Neue', cursive;
    font-size: 7.5vw;
    text-align: center;
    padding-top: 7vw; 
}

.footer h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 2vw;
    padding-top: 0.5vw;
    text-align: center;
    letter-spacing: 0.4;
}

.footer p{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.4;
    font-size: 1.5vw;
    text-align: center;
    padding-top: 0.3vw;
}

/*ANIMATIONS*/
@keyframes fadeInDown {
    0% {
        margin-top: -100;
        opacity: 0;
    }


    100% {
        margin-top: 0;
        opacity: 1;
    }
}
